@charset "UTF-8";
body{
  background-image: url(Images/guaca2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

#login{
  font-family: 'Marck Script';
   border: 2px solid #A8DC5F;
   border-radius: 25px;
   background-color: #4B780B;
   margin-top: auto;
   margin-bottom: auto;
   margin-left: auto;
   margin-right: auto;
   height: 70%;
   width: 25%;

}
 label{
   display: block;
 }
