@charset "utf-8"
*{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
p {

	color:white;
	left: auto;
	right: auto;
	bottom: auto;
	top: auto;
}
div{
	margin: 3px auto;
}

.headerwords{
	font-family: sans-serif,"century gothic";
	font-weight: bold;
	font-size: 20px;
}

body{
	background-color: white;
}

footer{
	background-color: #050514;
}

div div{
	background-color: white;
}

#contenedor{
	border-color: white;
	background-color: white;
}

#top-bar{
	width: 100%;
	background-color: 83CCEB;
}

#logo{
	background: url(Images/logo.png);
	width: 100%;
	height:10px;
	border: #900 solid 2px;
	background-position: center;
	-webkit-background-size: cover;

}

#bar{
	height: 8%;
	width: 100%;
	background-color: #83CCEB;
	border-bottom: solid #6D7A7F 10px;
}

.divs_left_bar{
	position: relative;
	align-items: center;
	background-color: #83CCEB;
	width: 20%;
	text-align: center;
	height: 10%;
}

.divs_left_bar a{
	position: absolute;
	color: white;
	text-decoration: none;
	text-align:center;
	left: 10%;
	right: auto;
	top: 3%;
	bottom: auto;
}

.divs_right_bar a:hover {
	background-color: white;
	color: #83CCEB;
	height: 50%;
	width: 80%;
	border-radius: 92px 92px 92px 92px;
 -moz-border-radius: 92px 92px 92px 92px;
 -webkit-border-radius: 92px 92px 92px 92px;
}

.divs_right_bar{
	position: relative;
	background-color: #83CCEB;
	width: 150px;
	text-align: center;
	height: 50px;
}

.divs_right_bar a{
	position: absolute;
	color: white;
	text-decoration: none;
	text-align:center;
	left: 10%;
	right: auto;
	top: 3%;
	bottom: auto;
}

.divs_left_bar a:hover {
	background-color: white;
	color: #83CCEB;
	width: 90%;
	border-radius: 92px 92px 92px 92px;
 -moz-border-radius: 92px 92px 92px 92px;
 -webkit-border-radius: 92px 92px 92px 92px;
}

#bar #left_bar{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #83CCEB;
	width: 50%;
	height: auto;
	display: inline-flex;
	float: left;
	padding-left: 30px;
}

#bar #right_bar{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #83CCEB;
	display: inline-flex;
	float: right;

}

#bar p:hover{
	width: auto;
	background-color: white;
	color: #83CCEB;
}

#-ctas{
	height: 8%;
	width: 15%;
	float: right;
	background-color: #83CCEB;
	display: inline-flex;
}

#content{
	background-image:url(https://i1.wp.com/cdn.codemyui.com/wp-content/uploads/2016/11/Pure-CSS-Snow-Animation.gif);
}
 #content p{
	 position: relative;
	 font-family: 'raleway',cursive;
	 color: #6D7A7F;
	 font-size: 45px;
	 left: 8%;

 }
#box{
	background-color:  #1a001a;
	background: url(Images/guacamaya.jpg) no-repeat center;
	width: 300px;
	height: 400px;
	transition: transform .2s;
}

#box:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#accounts{
	border: solid black 2px;
	width: 30%;
	height: 8%;
}

#accounts a{
	background-color: black;
}

#footer{
	position: relative;
	top: 16%;
	width: 100%;
	align: bottom;
	 background: scroll #6D7A7F;
}

/**/
