.container{
	display: flex;
	height: 100%;
}
.users-content{
	top: .35%;
	display: flex;
	flex-direction: column;
	width: 89%;
	height: 10%;
	left: 11%;
	position: relative;
	display:flex;
	background: #C7DCE5;
}

.users-top-bar{
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #6D7A7F;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
}

.users-top-bar-button{
	margin: auto;
	display: flex;
	height: 98%;
	width: 20%;
	flex-direction: column;
	background: #6D7A7F;
}

.users-top-bar-button:hover .users-top-button-decoration{
	background-color: #6D7A7F;
}

.users-top-bar-button a{
	height: 100%;
	width: auto;
	font-family: 'Quicksand';
	font-size: 100%;
	text-decoration: none;
	text-align: center;
	color: white;
}

.users-top-button-decoration{
	background-color: white;
	border-color: white;
	height: 15%;
}

.content{
}
