@charset "utf-8"
*{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
}

a{
	background-size: auto;
	width: auto;
	height: auto;
}

.login-signup-button{
	font-family: 'Marck Script';
	color: white;
	height: 50%;
	width: 100%;
	font-size: 150%;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.login-signup-button:hover{
	color: #83CCEB;
	background-color:white;
}

.top-bar-button{
	order: 0;
	height: 100%;
	width: 16%;
	margin: auto;
	display:inline-flex;
	align-items: center;
	justify-content:center;
	font-family: 'Marck Script';
	font-weight: bold;
	font-size:190%;
	color: white;
}


.top-bar-button:hover {
	color: #83CCEB;
	background-color: white;
}

#container-1{
	width: 100%;
	height: 100%;
	background: white;
}

#logo{
	height: 60px;
	width: 61px;
	margin-top: auto;
	margin-bottom: auto;
	background-image: url(Images/logo.png);
}

#web-title{
	font-family: 'Marck Script';
	font-size: 400%;
	width: 60%;
	height: 100%;
	padding-top: .5%;
	padding-right: 3%;
	color: #F982FF;
	text-align:right;
}

#web-subtitle{
	font-family: 'Marck Script';
	font-size: 200%;
	width: 30%;
	height: 100%;
	padding-top: 1.5%;
	padding-right: 3%;
  color: #13A8DB;
	text-align: left;
}

#login-signup-buttons{
	height: 100%;
	width: 20%;
}

#top-bar-1{
	width: 100%;
	height: 10%;
	display: inline-flex;
}

#top-bar-2{
	display: inline-flex;
	justify-content: center;
	background-color:#83CCEB;
	height: 10%;
	width: 100%;
}

#botw-name{
	font-family: 'Marck Script';
	border: solid black 2px;
	height: 40%;
	width: 30%;

}
