@charset "utf-8"
*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Marck Script';
	margin: 0px;
	padding: 0px;
}

a{
	background-size: auto;
	width: auto;
	height: auto;
	text-decoration: none;
	color: white;
}

.login-signup-button{
	color: white;
	height: 50%;
	width: 100%;
	font-size: 150%;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.login-signup-button:hover a{
	color: #83CCEB;
	height: 100%;
	width: 100%;
	background-color:white;
}

.top-bar-button{
	order: 0;
	height: 100%;
	width: 16%;
	margin: auto;
	display:inline-flex;
	align-items: center;
	justify-content:center;
	font-weight: bold;
	font-size:190%;
	color: white;
}


.top-bar-button:hover a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #83CCEB;
	height: 100%;
	width: 100%;
	background-color: white;
}

#container-1{
	width: 100%;
	height: 100%;
	background: white;
}

#logo{
	height: 60px;
	width: 61px;
	margin-top: auto;
	margin-bottom: auto;
	background-image: url(Images/logo.png);
}

#web-title{
	font-size: 400%;
	width: 60%;
	height: 100%;
	padding-top: .5%;
	padding-right: 3%;
	color: #F982FF;
	text-align:right;
}

#web-subtitle{
	font-size: 200%;
	width: 30%;
	height: 100%;
	padding-top: 1.5%;
	padding-right: 3%;
  color: #13A8DB;
	text-align: left;
}

#login-signup-buttons{
	height: 100%;
	width: 20%;
}

#top-bar-1{
	width: 100%;
	height: 10%;
	display: inline-flex;
}

#top-bar-2{
	display: inline-flex;
	justify-content: center;
	background-color:#83CCEB;
	height: 10%;
	width: 100%;
}

#content{
	display: inline-flex;
	height: 60%;
	width: 100%;
}

#botw-name{
	order: 0;
	height: 40%;
	width: 28%;
	font-size: 400%;
	padding-top: 3%;
	padding-left: 5%;
  color: #13A8DB;
	text-align: right;

}

#botw-img-div{
	order: 1;
	display: inline-flex;
	width: 40%;
	height: 100%;
}

#botw-img:hover{
	 transform: scale(1.25);
}

#botw-img{
	margin:auto;
	width: 50%;
	height: 70%;
	transition: transform .3s;
}

#botw-description-container{
	order: 2;
	width: 27%;
	height: 100%;
	flex-direction: column;
	display: inline-flex;
}

#botw-description-1{
	font-size: 140%;
  color: #13A8DB;
	order: 2;
	width: 80%;
	text-align:justify;
	margin: auto;
}

#botw-description-2{
	margin: auto;
	padding-top: 5%;
	margin-bottom: 3%;
	font-size: 140%;
	color: white;
	background-color: #83CCEB;
	order: 2;
	width: 90%;
	height: 40%;
	text-align:center;
	margin: auto;
}
